@media (max-width: 1000px) {
  .grid-section {
    grid-template-columns: 1fr;
  }

  .profile {
    width: clamp(250px, 500px, 90vw);

    .profile-top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      height: 200px;
      padding-block: 20px;

      span {
        font-size: 30px;
      }

      p {
        padding-bottom: 5px;
      }

      img {
        width: 30%;
        margin-bottom: 15px;
      }
    }
    .profile-bottom {
      flex-direction: row;
      justify-content: center;
      padding-bottom: 30px;
    }
  }
  .card {
    padding-top: 35px;
  }
}
