body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $very-dark-blue;
}

.grid-section {
  width: 100%;
  max-width: 1143px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-block: 20px;
}
