body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $very-dark-blue;
}

.grid-section {
  width: 100%;
  max-width: 1143px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-block: 20px;
  animation: pop 2s ease-in;

  @keyframes pop {
    0% {
      transform: scale(0) translateY(-350%);
    }
    50% {
      transform: scale(1) translateY(0%);
    }
  }
}
